/* image-border-animation */

.border-animation {
    /* position: relative; */
    border: 5px solid #00cc7a; /* Base color for the border */
    animation: pulse 3s infinite ease-in-out;
}

@keyframes pulse {
    0%, 100% {
        box-shadow: 0 0 0 0 rgba(76, 175, 80, 0.7);
    }
    50% {
        box-shadow: 0 0 20px 15px rgba(76, 175, 80, 0.2);
    }
}


.text_typing {
    position: relative;
    color: transparent; /* Hide the original text */
    -webkit-text-stroke: 0.3vw rgb(16, 15, 15); /* Add stroke effect */
    overflow: hidden; /* Prevent overflow */
    white-space: nowrap; /* Prevent text wrapping */
}

.text_typing::before {
    content: attr(data-text); /* Use data-text for animation */
    position: absolute;
    top: 0;
    left: 20;
    max-width: 0; /* Start with 0 max-width */
    color: #00cc7a; /* Green text color */
    -webkit-text-stroke: 0vw rgb(16, 15, 15); /* Remove stroke for animated text */
    white-space: nowrap; /* Prevent text wrapping */
    overflow: hidden; /* Prevent text overflow */
    animation: typing 6s steps(40, end) infinite, step-end infinite;
}

@media screen and (max-width: 1180px){
.text_typing::before {
    padding-top: 8px;
}
}


@keyframes typing {
    0% {
        max-width: 0;
    }
    90% {
        max-width: 100%; /* Fully reveal text */
    }
    100% {
        max-width: 0; /* Reset animation */
    }
}





/*animation for links */

/* .active::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 0%;
    background-color: #00cc7a;
    transition: all ease 1s;
}

.active:focus::after{
    width: 100%;
} */
