@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body{
    @apply font-jetBrains
}

.hover{
    position: relative;
}

.hover::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 0%;
    background-color: #00cc7a;
    transition: all ease 1s;
}

.hover:focus::after{
    width: 100%;
}

